
/jre
*.log
options.ini
/.gde
options.yaml

# Godot-specific ignores
.import
export.cfg
export_presets.cfg

# Plugins
# addons
addons/zylann.hterrain
addons/qodot

godot_kotlin_configuration.json
autosave

# Temporary Symlinked until Godot Kotlin is finished
/src
/build

# External Git repos are placed here
/scenarios

# Prototype audio files kept separate from the main repos
assets/audio/prototype
